body {
    margin: 0;
    font-family: Arial, sans-serif;
   }

#balken {
padding: 20px;
background-color: rgb(221, 206, 178);
text-align: center;
font-family: 'Playpen Sans', cursive;
font-style: normal;
font-weight: 200;
}

   .container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center; /* HORIZONTAL ZENTRIEREN */
    align-items: center; /* Optional: Vertikal zentrieren */
    height: 100vh; /* 100% der Bildschirmhöhe */
   }

   .photo-container {
    display: flex;
   }
   .photo-container img {
    max-width: 100%;
    height: auto;
    margin: 5px;
   }
  .content {
    text-align: center; /*Optional: Zentriere den Text innerhalb des Inhalts */
    }

    .produkt{
      flex: 1;
      padding: 10px;
      margin-top: 20px;
    }