#balken {
    padding: 20px;
    background-color: rgb(221, 206, 178);
    text-align: center;
}
body {
    font-family: 'Playpen Sans', cursive;
    font-style: normal;
    font-weight: 200;

body {
        margin: 0;
        font-family: Arial, sans-serif;
       }

       .container{
        display: flex
        justify-content: center; /* HORIZONTAL ZENTRIEREN */
        align-items: center; /* O
       }
       .photo-container {
        display: flex;
       }
       .photo-container img {
        max-width: 100%;
        height: auto;
        margin: 5px;
       }
}